<h2
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="dialog-title"
>
  {{ "title-confirm-user" | translate }} {{ dialogData.name }}
</h2>

<form (ngSubmit)="_confirm()">
  <div class="mat-typography dialog-content dialog-content-w">
    <div class="one-row-dialog" *ngIf="confirmOk">
      <mat-card class="info-record-light">
        <mat-card-content class="simple-text">
          <mat-icon>error_outline</mat-icon>
          <span>
            {{ message }}
          </span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="one-row-dialog" *ngIf="!confirmOk">
      <mat-card class="snackbar-info">
        <mat-card-content class="simple-text">
          <mat-icon>error_outline</mat-icon>
          <span>
            {{ "user-confirm-and-can-use-site" | translate }}
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="flex-buttons dialog-buttons" *ngIf="!confirmOk">
    <span class="spacer"></span>
    <button
      cdkFocusInitial
      class="simple-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading"
    >
      <mat-progress-bar
        *ngIf="loading; else confirmBtn"
        mode="indeterminate"
        class="button-progress-bar"
      ></mat-progress-bar>
      <ng-template #confirmBtn>{{ "button-confirm" | translate }}</ng-template>
    </button>

    <button
      class="simple-button"
      mat-raised-button
      type="button"
      (click)="closeDialog()"
    >
      {{ "button-cancel" | translate }}
    </button>
  </div>
  <div class="flex-buttons dialog-buttons" *ngIf="confirmOk">
    <span class="spacer"></span>
    <button
      class="simple-button"
      mat-raised-button
      type="button"
      (click)="closeDialog('confirm')"
    >
      {{ "button-close" | translate }}
    </button>
  </div>
</form>
