<ng-container *ngIf="pageIdChecked">
  <ng-container *ngIf="pageId && !pageIdInvalid; else noId">
    <form (ngSubmit)="pRecover()" [formGroup]="groupPassword">
      <div class="center-container" [ngStyle]="{ height: h + 'px' }">
        <mat-card>
          <mat-card-header
            ><mat-card-title>
              {{ "account-password-recovery" | translate }}
            </mat-card-title></mat-card-header
          >

          <mat-card class="info-record-light" *ngIf="pRecoverOk">
            <mat-card-content class="simple-text">
              <mat-icon>error_outline</mat-icon>
              <span>
                {{ message }}
                <button
                  *ngIf="!activeUser()"
                  mat-button
                  color="primary"
                  (click)="goData()"
                >
                  {{ "button-signin" | translate }} &#187;
                </button>
              </span>
            </mat-card-content>
          </mat-card>

          <mat-card-content *ngIf="!pRecoverOk">
            <div class="one-row">
              <mat-form-field appearance="legacy" color="primary">
                <mat-label>{{
                  "account-password-recovery-new" | translate
                }}</mat-label>
                <input
                  (blur)="updateTmp()"
                  formControlName="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hide = !hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="group.get('password')?.invalid">{{
                  getErrorMessage("password")
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="one-row">
              <mat-form-field appearance="legacy" color="primary">
                <mat-label>{{
                  "account-password-recovery-repeat" | translate
                }}</mat-label>
                <input
                  formControlName="passwordRepeat"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hide = !hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="group.get('passwordRepeat')?.invalid">{{
                  getErrorMessage("passwordRepeat")
                }}</mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="!pRecoverOk" class="flex-buttons">
            <span class="spacer"></span>
            <button
              class="simple-button"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loading"
            >
              <mat-progress-bar
                *ngIf="loading; else pRecoverBtn"
                mode="indeterminate"
                class="button-progress-bar"
              ></mat-progress-bar>
              <ng-template #pRecoverBtn>{{
                "button-save" | translate
              }}</ng-template>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </form>
  </ng-container>
  <ng-template #noId>
    <form (ngSubmit)="pRecover()" [formGroup]="group">
      <div class="center-container" [ngStyle]="{ height: h + 'px' }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{
              "account-password-recovery" | translate
            }}</mat-card-title></mat-card-header
          >
          <mat-card class="info-record-light" *ngIf="pRecoverOk">
            <mat-card-content class="simple-text">
              <mat-icon>error_outline</mat-icon>
              <span>
                {{ message }}
              </span>
            </mat-card-content>
          </mat-card>

          <mat-card-content *ngIf="!pRecoverOk">
            <div class="one-row">
              <mat-form-field appearance="legacy" color="primary">
                <mat-label>{{
                  "account-password-recovery-email" | translate
                }}</mat-label>
                <input formControlName="email" matInput type="text" />
                <button mat-icon-button matSuffix>
                  <mat-icon>email</mat-icon>
                </button>
                <mat-error *ngIf="group.get('email')?.invalid">{{
                  getErrorMessage("email")
                }}</mat-error>
              </mat-form-field>
            </div>

            <div class="one-row" *ngIf="!activeUser()">
              <re-captcha #captchaEl (resolved)="resolved($event)"></re-captcha>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="!pRecoverOk" class="flex-buttons">
            <span class="spacer"></span>
            <button
              class="simple-button"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loading"
            >
              <mat-progress-bar
                *ngIf="loading; else pRecoverBtn"
                mode="indeterminate"
                class="button-progress-bar"
              ></mat-progress-bar>
              <ng-template #pRecoverBtn>{{
                "button-recover" | translate
              }}</ng-template>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </form>
  </ng-template>
</ng-container>
